// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
// @require '~vuetify/src/stylus/settings/_colors'
// $theme := {
//   primary:     $blue.darken-2
//   accent:      $blue.accent-2
//   secondary:   $grey.lighten-1
//   info:        $blue.lighten-1
//   warning:     $amber.darken-2
//   error:       $red.accent-4
//   success:     $green.lighten-2
// }

// Import Vuetify styling
@require '~vuetify/src/stylus/app'

.page
  @extend .fade-transition

// Restyling Vuetify
.application
  font-family 'Montserrat', sans-serif
  font-weight 500
  // font-size 15px

// New Styles
.fs12
  font-size 12px

.fs24
  font-size 24px

.fs32
  font-size 32px

.fw800
  font-weight 800

.mb40
  margin-bottom: 40px

.mb80
  margin-bottom: 80px
